@font-face {
    font-family: "Roboto-reg";
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

.title {
    color: #ffe100;
    text-align: center;
    margin-bottom: 5vw;
    font-family: 'Roboto-reg';
}

.image {
    display: block;
    width: 25vw;
    height: auto;
    margin: 0 auto;
}